*
!.*
.cache
*history
*.log
.zcompdump*
.wakatime*
.nvm
.Xauthority
.oh-my-zsh
.viminfo
.vim
.histfile
!/requirements.txt
!/.config/
!/.config/**/*.conf
!/.config/**/*rc
!/.config/mpv/
!/.config/mpv/**
!/.config/**/*.toml
!/.config/nano/
!/.config/nano/**
!/.config/fontconfig/
!/.config/fontconfig/conf.d
!/.config/fontconfig/**
