aiofiles==0.7.0
aiohttp==3.7.4.post0
aioredis==2.0.0a1
alembic==1.6.2
appdirs==1.4.4
aredis==1.1.8
argon2-cffi==20.1.0
asgiref==3.3.1
asn1crypto==1.4.0
astroid==2.5.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
bs4==0.0.1
CacheControl==0.12.6
capstone==4.0.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
discord==1.0.1
discord.py==1.7.2
distlib==0.3.1
distro==1.5.0
Django==3.1.14
dnspython==1.16.0
docker==5.0.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
extras==1.0.0
fake-useragent==0.1.11
Faker
filelock==3.0.12
fixtures==3.0.0
Flask==2.0.1
Flask-BabelEx==0.9.4
Flask-Compress==1.8.0
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.0.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security-Too==4.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
gssapi==1.6.12
hentai
html5lib==1.1
httptools==0.2.0
idna==3.1
intervaltree==3.1.0
ipykernel==5.4.2
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
lazy-object-proxy
libvirt-python
lit
louis
lxml
Mako
Markdown
MarkupSafe
matplotlib
mccabe
mistune
MouseInfo
mpmath
msgpack
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-contrib-python
opencv-python
optimus-manager
ordered-set
packaging
pandas
pandoc
pandocfilters
paramiko
parse
parso
passlib
pbr
pep517
pexpect
pickleshare
Pillow
pipenv
ply
progress
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pwntools
pwquality
pyasn1
PyAutoGUI
pycairo
pycodestyle
pycparser
pyee
pyelftools
pygame
PyGetWindow
Pygments
PyGObject
pylint
PyMsgBox
PyNaCl
pyOpenSSL
pyparsing
pyPEG2
pyperclip
pyppeteer
PyQt5
PyQt5-sip
PyQtWebEngine
pyquery
PyRect
pyrsistent
PyScreeze
pyserial
PySocks
python-dateutil
python-dotenv
python-editor
python-mimeparse
python3-xlib
pytoml
PyTweening
pytz
PyYAML
pyzmq
qutebrowser
redis
Reflector
requests
requests-futures
requests-html
resolvelib
retrying
ROPGadget
sanic
sanic-routing
scikit-learn
scipy
seaborn
Send2Trash
simplejson
six
sortedcontainers
soupsieve
speaklater
SQLAlchemy
sqlparse
sshtunnel
stem
sympy
team
terminado==0.9.1
testpath==0.4.4
testtools==2.4.0
text-unidecode==1.3
texttable==1.6.3
threadpoolctl==2.1.0
toml==0.10.2
torbrowser-launcher
tornado
torrequest
tqdm
traitlets
typing-extensions
ufw
ujson
unicorn
urllib3
uvloop
virtualenv
virtualenv-clone
w3lib
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wordcloud
wrapt
WTForms
yarl
youtube-dl
